@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

$blk: #2f2f2f;
$wht: #f9fbf2;
$blu: #0fa3b1;

body {
  background: $blk;
  font-family: "Lato", sans-serif;
  // .click-off {
  //   pointer-events: none;
  // }
  .app-wrap {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1450px;
    padding: 0px 40px;
    margin: 0 auto;
    .src-wizard-hero {
      display: flex;
      position: relative;
      .word-count {
        position: absolute;
        top: -85px;
        left: 10px;
        color: $wht;
        font-size: 32px;
        .count {
          color: $blu;
        }
      }
      .search-results {
        max-height: 590px;
        overflow-y: scroll;
        padding: 0px 40px;
        font-size: 35px;
        text-align: center;
        &::-webkit-scrollbar {
          border-radius: 10px;
          width: 5px;
          background: rgba(128, 128, 128, 0.425);
          border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $blu;
          border-radius: 10px;
        }
        h6 {
          font-weight: 700;
          font-style: normal;
          color: $blu;
          cursor: pointer;
          margin: 0px;
          margin-bottom: 30px;
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .search-box {
        width: 590px;
        height: 590px;
        display: flex;
        flex-wrap: wrap;
        div[class^="input-box"] {
          width: 25%;
          box-sizing: border-box;
          padding: 1%;
          position: relative;
          input {
            background: transparent;
            border: 1px solid $wht;
            width: 100%;
            height: 100%;
            margin: 0px;
            font-size: 80px;
            text-align: center;

            font-weight: 700;
            font-style: normal;
            color: $wht;
            // padding: 40% 0%;
            box-sizing: border-box;
            &:focus {
              color: $blu;
            }
          }
        }
        .path-show {
          background: red !important;
        }
      }
    }

    .app-info {
      max-width: 550px;
      margin-right: 40px;
      .proj-title {
        font-weight: 700;
        font-style: normal;
        color: $wht;
        font-size: 51px;
        margin-bottom: 10px;
        span {
          color: $blu;
        }
      }
      .proj-desc {
        color: $wht;
        font-size: 18px;

        line-height: 24px;
        font-weight: 200;
      }
      .proj-btn {
        border: 0px;
        background: $blu;
        color: $wht;
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        padding: 10px 30px;
        border-radius: 3px;
        &:disabled {
          opacity: 0.5;
        }
      }
    }
  }
}

/* DIRS */

.dir {
  display: none;
  position: absolute;
  width: 100%;
  height: 12px;
  background: #0fa3b18f;
  z-index: 20;
  border-radius: 40px;
}

.dirshow-nw {
  display: block;
  transform: rotate(45deg);
  top: 1%;
  left: -62.5%;
  width: 130%;
}

.dirshow-ne {
  display: block;
  transform: rotate(-45deg);
  top: 1%;
  left: 30.5%;
  width: 130%;
}

.dirshow-sw {
  display: block;
  transform: rotate(-45deg);
  bottom: -6.5%;
  left: -60%;
  width: 130%;
}

.dirshow-se {
  display: block;
  transform: rotate(45deg);

  bottom: -6.5%;
  left: 40%;
  width: 130%;
}

.dirshow-n {
  display: block;
  transform: rotate(90deg);
  // top: 120px;
  top: -1.5%;
  left: 2.5%;
}

.dirshow-s {
  display: block;
  transform: rotate(90deg);
  top: 98%;
  left: -1%;
}

.dirshow-e {
  display: block;
  top: 50%;
  right: -50%;
}

.dirshow-w {
  display: block;
  top: 50%;
  left: -50%;
}

.loader-sec {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1c1ccb;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  h2 {
    font-size: clamp(30px, 5vw, 60px);
    color: $wht;
    margin: 3vh 0vh;
  }
  .loader-bar {
    max-width: 600px;
    width: 80%;
    height: 30px;
    background-color: grey;
    border-radius: 40px;
    position: relative;
    .loader-thumb {
      height: 100%;
      background-color: $blu;
      border-radius: 40px;
      transition: 0.35s ease;
    }
    .loader-num {
      color: white;
      position: absolute;
      left: calc(50% - 11px);
      top: -14px;
    }
  }
}

@media (max-width: 1100px) {
  body {
    .app-wrap {
      flex-flow: column-reverse;
      max-width: 100%;
      justify-content: flex-start;
      padding: 0px 10px;
      .app-info {
        max-width: 100%;
        margin-right: 0px;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 0px;
        text-align: center;
        flex: 0.5;
        .proj-title {
          margin-top: 0px;
          margin-top: 2vh;
          font-size: clamp(24px, 5vw, 53px);
        }
        .proj-desc {
          font-size: clamp(16px, 3vw, 32px);
          line-height: 140%;
          margin: 1vh 0vh;
        }
        .proj-btn {
          font-size: clamp(16px, 5vw, 30px);
        }
      }
      .src-wizard-hero {
        flex-flow: column;
        .search-box {
          max-width: 100%;
          width: 80vw;
          height: 80vw;
          div[class^="input-box"] {
            input {
              font-size: clamp(35px, 5vw, 80px);
            }
          }
        }
        .search-results {
          height: 7vh;
          padding: 0px;
          font-size: 35px;
          text-align: center;
          display: flex;
          align-items: center;
          max-width: 80vw;
          width: 100%;
          overflow-y: hidden;
          padding: 7px 0px;
          &::-webkit-scrollbar {
            border-radius: 10px;
            height: 10px;
            background: rgba(128, 128, 128, 0.425);
            border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $blu;
            border-radius: 10px;
          }
          h6 {
            margin-bottom: 0px;
            margin-right: 15px;
            font-size: clamp(16px, 5vw, 26px);
          }
        }
        .word-count {
          position: relative;
          top: auto;
          left: auto;
          font-size: clamp(19px, 5vw, 40px);
          text-align: center;
          max-width: 80vw;
          margin: 10px 0px;
        }
      }
    }
    .loader-sec {
    }
  }
}
